{% extends 'base.html.twig' %}

{% block body %}
<h1>wellcome</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
 Temporibus deleniti quibusdam neque sunt hic veniam. Eligendi consequatur aperiam consectetur nulla, ipsa veritatis nihil commodi, sint cupiditate quos illum corrupti eos architecto beatae sequi quas minus dolore molestias quisquam eius ducimus!</p>
 {% endblock %}